<div class="row">
    <div class="container-fluid">
      <div class="gallery" ng-show="resSize != 0">
        <div class="col-sm-4">
          <div class="row text-center">
            <img ng-repeat="photo in photos" class="main" ng-show="isImageActive($index)" ng-src="{{photo.url}}"
                  ng-click="stopSlide()"/>
          </div>
          <div class="row">
            <h3 class="text-left">
              <i ng-click="showPrev()" class="fa fa-hand-o-left control" tooltip="Previous"></i>
              <i ng-click="startSlide()" class="fa fa-play control" tooltip="Start slide"></i>
              <i ng-click="stopSlide()" class="fa fa-pause control" tooltip="Stop slide"></i>
              <i ng-click="showNext()" class="fa fa-hand-o-right control" tooltip="Next"></i>
              <a class="pull-right" href="/">Back to the map</a>
            </h3>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="animate-show" ng-show="galleryLoaded">
            <img ng-repeat="photo in photos" ng-src="{{photo.url}}" ng-click="showSelect($index)"/>
          </div>
          <div class="text-center" ng-hide="galleryLoaded">
            <h1><i class="fa fa-spinner fa-pulse"></i>&nbsp;The gallery is being loaded</h1>
            <h3>{{loadCount / resSize * 100 | number:0}}&nbsp;% Completed</h3>
          </div>
      </div>
  </div>
  <div ng-hide="resSize != 0">
    <h2 class="text-center">
      <i class="fa fa-frown-o"></i>&nbsp;Looks like there's no gallery for {{galleryId}}, time to plan a trip!
    </h2>
    <h3 class="text-center">(Choose one from the map)</h3>
  </div>
</div>
